<div class="new-header nh-scroll">
    <div class="nh-container">
        <div class="nh-inner">
            <!-- Logo Section -->
            <div class="nh-logo-outer">
                <div class="nh-logo-container">
                    <a href="" class="nh-logo">
                        <img style="width:145px;object-fit:contain" alt="JoonWeb - Create a website in minute"
                            src="https://static.joonsite.com/joonweb-logo-full.png?height=50">
                    </a>
                </div>
            </div>

            <!-- Centered Navigation -->
            <nav class="nh-nav-container">
                <div class="nh-nav-inner">
                    <ul class="nh-nav-items">
                        <li class="nh-nav-item"> <a href="/home" class="nh-nav-item-link">Home</a></li>
                        <li class="nh-nav-item nh-has-sub">
                            <a href="#" class="nh-nav-item-link">
                                Products
                                <span class="nh-dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" viewBox="0 0 448 512">
                                        <path
                                            d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                        </path>
                                    </svg>
                                </span>
                            </a>
                            <div class="nh-submenu">
                                <ul class="nh-nav-subitems">
                                    <li class="nh-nav-subitem">
                                        <a [routerLink]="'/products/web'" class="nh-nav-subitem-link">Website
                                            Builder</a>
                                    </li>
                                    <li class="nh-nav-subitem">
                                        <a [routerLink]="'/products/ecom'" class="nh-nav-subitem-link">eCommerce
                                            Builder</a>
                                    </li>
                                    <li class="nh-nav-subitem">
                                        <a [routerLink]="'/products/buy-domain'" class="nh-nav-subitem-link">Buy
                                            Domain</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nh-nav-item"> <a href="/price" class="nh-nav-item-link">Pricing</a></li>
                        <li class="nh-nav-item"> <a href="/sites" class="nh-nav-item-link">Templates</a></li>
                        <li class="nh-nav-item nh-has-sub">
                            <a href="#" class="nh-nav-item-link">Support
                                <span class="nh-dropdown-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" viewBox="0 0 448 512">
                                        <path
                                            d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                                        </path>
                                    </svg>
                                </span>
                            </a>

                            <div class="nh-submenu">
                                <ul class="nh-nav-subitems">
                                    <li class="nh-nav-subitem">
                                        <a href="" target="_blank" class="nh-nav-subitem-link">Help Center</a>
                                    </li>
                                    <li class="nh-nav-subitem">
                                        <a href="" class="nh-nav-subitem-link">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Right-Aligned User Section -->

            <div *ngIf="isAuthenticated; else guest">
                <!-- Profile menu container -->
                <div class="profile-menu" (mouseenter)="dropdownVisible = true" (mouseleave)="dropdownVisible = false">
                    <!-- Profile logo with email -->
                    <img class="profile-logo" src="./images/login.png" alt="Profile Logo" />
                    <span class="profile-email">{{ userName }}</span>
                    <span class="nh-dropdown-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" viewBox="0 0 448 512">
                            <path
                                d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z">
                            </path>
                        </svg>
                    </span>

                    <!-- Dropdown menu -->
                    <div class="dropdown-menu" *ngIf="dropdownVisible">
                        <a (click)="navigateToDashboard()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 512 512">
                                <path
                                    d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm320 96c0-26.9-16.5-49.9-40-59.3L280 88c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 204.7c-23.5 9.5-40 32.5-40 59.3c0 35.3 28.7 64 64 64s64-28.7 64-64zM144 176a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm-16 80a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM400 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z">
                                </path>
                            </svg>Dashboard</a>
                        <a (click)="logout()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 512 512">
                                <path
                                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                                </path>
                            </svg>Logout</a>
                    </div>
                </div>

            </div>
             <!-- Sign In Link -->
             <ng-template #guest>
                <a (click)="authPopup.showPopup('signin')" class="sign-in-link">Sign In</a>

                <!-- Get Started Link -->
                <div class="center-container">
                    <a href="javascript:void(0);" (click)="authPopup.showPopup('create-account')"
                        class="main-hero-button">
                        Get Started
                        <svg class="i-left-margin" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 448 512">
                            <path fill="#fff"
                                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
                            </path>
                        </svg>
                    </a>
                </div>
            </ng-template>

            <!-- Menu Icon for Mobile -->
            <div class="nh-menu-icon" (click)="toggleMobileMenu()">
                <div class="nh-menu-icon-inner">
                    <svg class="open" xmlns="http://www.w3.org/2000/svg" width="22" viewBox="0 0 448 512">
                        <path
                            d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z">
                        </path>
                    </svg>
                    <svg class="close" xmlns="http://www.w3.org/2000/svg" width="22" viewBox="0 0 384 512">
                        <path
                            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z">
                        </path>
                    </svg>
                </div>
            </div>

            <!-- Mobile Menu -->
            <div class="nh-mobile-menu" [class.open]="mobileMenuOpen">
                <ul class="nh-mobile-nav-items">
                    <li class="nh-mobile-nav-item"><a href="/home" class="nh-mobile-nav-item-link">Home</a></li>
                    <li class="nh-mobile-nav-item"><a href="/products" class="nh-mobile-nav-item-link">Products</a></li>
                    <li class="nh-mobile-nav-item"><a href="/pricing" class="nh-mobile-nav-item-link">Pricing</a></li>
                    <li class="nh-mobile-nav-item"><a href="/sites" class="nh-mobile-nav-item-link">Templates</a></li>
                    <li class="nh-mobile-nav-item"><a href="/support" class="nh-mobile-nav-item-link">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

            <!-- Popup Component -->
  <app-auth-popup #authPopup></app-auth-popup>