<div class="see-width qa-inner">
    <div class="qa-box">
      <div class="main-hero-heading fade-up" style="opacity: 1; transform: translateY(0px);"> Create a Beautiful Website.
        <br> It's Easier Than You Think.</div>
      <div class="section-subheading fade-up" style="opacity: 1; transform: translateY(0px);"> JoonWeb empowers you to
        create a professional site, even with no coding experience. </div>
        <br>
        <br>
        <div class="button-container">
            <a href="javascript:void(0);" (click)="authPopup.showPopup('create-account')" class="main-hero-button">
              Get Started
              <svg class="i-left-margin" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 448 512">
                <path fill="#fff" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path>
              </svg>
            </a>
          </div>
          
        
    </div>
  </div>
  <app-auth-popup #authPopup></app-auth-popup>
