<div class="see-width main-hero-section-box">
    <div class="main-hero-text">
      <h1 class="main-hero-heading">Create a website through simple steps</h1>
      <br>
      <div class="main-hero-subheading">Create your desired website at JoonWeb, the professional website builder. You can
        create a website within minutes.</div>
        <br>
      <div class="">
        <a href="javascript:void(0);" (click)="authPopup.showPopup('create-account')" class="main-hero-button"
         >
          Get Started
          
          <svg class="i-left-margin" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 448 512"
            style="margin-left: 10px; fill: #fff;">
            <path fill="#fff"
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
            </path>
          </svg>
          
        </a>
  
      </div>
    </div>
    <div class="main-hero-image">
      <img src="https://static.joonsite.com/media/JoonWeb.svg" alt="Create a Website at JoonWeb.com">
    </div>
  </div>
  <div class="see-width main-hero-section-box">
    <div class="qa-box">
      <h2 class="main-hero-heading" style="opacity: 1; transform: translateY(0px);">
        Begin from scratch or utilise a pre-made template
      </h2>
      <div class="main-hero-subheading fade-up" style="opacity: 1; transform: translateY(0px);"> Quickly choose a stylish
        and appropriate appearance for your website &amp; start creating a website right away! </div>
      <div class="qa-numbers fade-up" style="opacity: 1; transform: translateY(0px);">
        <div class="qa-number-box">
          <div class="qa-number-box-inner">
            <div class="qa-number"><span class="count">90</span>+</div>
            <div class="qa-caption">Categories</div>
          </div>
        </div>
        <div class="qa-number-box">
          <div class="qa-number-box-inner">
            <div class="qa-number"><span class="count">231</span>+</div>
            <div class="qa-caption">Themes</div>
          </div>
        </div>
        <div class="qa-number-box">
          <div class="qa-number-box-inner">
            <div class="qa-number"><span class="count">55,282</span>+</div>
            <div class="qa-caption">Users</div>
          </div>
        </div>
      </div>
      <div class="">
        <a href="javascript:void(0);" (click)="authPopup.showPopup('create-account')"class="main-hero-button">Get Started <svg
            class="i-left-margin" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 448 512">
            <path fill="#fff"
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
            </path>
          </svg></a>
      </div>
      <br>
      <h2 class="main-hero-heading" > How to create a website? </h2>
    </div>
  </div>
  <!-- <h2 class="main-hero-heading" > How to create a website? </h2> -->
  <div class="see-width main-hero-section-box">
  
    <div class="sfw-cont">
      <div class="swf-tabpanel">
        <div class="swf-tabs-content">
          <div class="swf-tab-content active" id="website_builder">
            <div class="swf-box">
              <div class="swf-content">
                <ol class="swf-list">
                  <!-- Loop through steps dynamically -->
                  <li *ngFor="let step of steps" class="swf-list-item fade-left" style="opacity: 1; transform: translateY(0px);">
                    <span class="swf-list-icon">{{ step.icon }}</span>
                    <div class="swf-list-content">
                      <div class="swf-list-heading">{{ step.heading }}</div>
                      <div class="swf-list-para">{{ step.description }}</div>
                    </div>
                  </li>
                </ol>
              </div>
              <div class="main-hero-image">
                <img [src]="imageSrc" [alt]="imageAlt">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  
  <div class="mp-product-box-inner">
    <div class="mpp-content">
      <h3 class="mpp-category fade-left" style="opacity: 1; transform: translateY(0px);">Website Builder</h3>
      <h2 class="main-hero-heading" style="opacity: 1; transform: translateY(0px);"> The Ability to Create Your Own
        Websites </h2>
      <div class="mpp-desc fade-left" style="opacity: 1; transform: translateY(0px);">
        Using JoonWeb builder, create your website within minutes without any prior knowledge of coding. On desktops,
        smartphones, and tablets, we give the greatest experience with excellent responsive design.
      </div>
      <div class="mpp-features">
        <div class="mpp-feature fade-left" style="opacity: 1; transform: translateY(0px);">
          <div class="mpp-feature-icon"><img style="height: 50px;"
              src="https://static.joonsite.com/media/multiple_pages.svg" alt="Make Unlimited Pages"></div>
          <div class="mpp-feature-desc">Unlimited pages</div>
        </div>
        <div class="mpp-feature fade-left" style="opacity: 1; transform: translateY(0px);">
          <div class="mpp-feature-icon"><img style="height: 50px;" src="https://static.joonsite.com/media/seo.svg"
              alt="Website Builder SEO">
          </div>
          <div class="mpp-feature-desc">SEO tools</div>
        </div>
      </div>
      <div class="">
        <a href="javascript:void(0);" (click)="authPopup.showPopup('create-account')" class="main-hero-button">Create a Website <svg
            class="i-left-margin" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 448 512">
            <path fill="#fff"
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
            </path>
          </svg></a>
      </div>
    </div>
    <div class="mpp-image">
      <img src="https://static.joonsite.com/media/website_builder.svg" alt="Website Builder">
    </div>
  </div>
  <div class="mp-product-box-inner">
    <div class="mpp-image">
      <img src="https://static.joonsite.com/media/online_store.svg" alt="Online Store Builder" />
    </div>
    <div class="mpp-content">
      <h3 class="mpp-category fade-right" style="opacity: 1; transform: translateY(0px);">
        E-Commerce Website Builder
      </h3>
      <h2 class="main-hero-heading fade-right" style="opacity: 1; transform: translateY(0px);">
        Create an E-Commerce Website &amp; Sell Your Products
      </h2>
      <div class="mpp-desc fade-right" style="opacity: 1; transform: translateY(0px);">
        E-Commerce websites are multi-location online stores that include online payment systems, marketing tools,
        shipping, and customer engagement tools.
      </div>
      <div class="mpp-features">
        <div class="mpp-feature fade-right" style="opacity: 1; transform: translateY(0px);">
          <div class="mpp-feature-icon">
            <img style="height: 50px;" src="https://static.joonsite.com/media/multiple_pages.svg"
              alt="Unlimited Products at Online Store" />
          </div>
          <div class="mpp-feature-desc">Unlimited Products</div>
        </div>
        <div class="mpp-feature fade-right" style="opacity: 1; transform: translateY(0px);">
          <div class="mpp-feature-icon">
            <img style="height: 50px;" src="https://static.joonsite.com/media/mobile_responsive.svg"
              alt="Mobile Responsive Online Store" />
          </div>
          <div class="mpp-feature-desc">Mobile Responsive</div>
        </div>
      </div>
      <div class="">
        <a href="javascript:void(0);" (click)="authPopup.showPopup('create-account')" class="main-hero-button">Create Online
          Store<svg class="i-left-margin" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 448 512">
            <path fill="#fff"
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
            </path>
          </svg></a>
      </div>
    </div>
  </div>
  <div class="mp-product-box-inner">
    <div class="mpp-content">
      <h3 class="mpp-category fade-left" style="opacity: 1; transform: translateY(0px);">Buy Domains</h3>
      <h2 class="main-hero-heading fade-left" style="opacity: 1; transform: translateY(0px);">
        Custom Domains As Per Your Brand Name
      </h2>
      <div class="mpp-desc fade-left" style="opacity: 1; transform: translateY(0px);">
        Purchase a professional domain nam e that corresponds to your company's and brand's identity. JoonWeb offers a
        panel from which you can build your own free domain name.
      </div>
      <div class="mpp-features">
        <div class="mpp-feature fade-left" style="opacity: 1; transform: translateY(0px);">
          <div class="mpp-feature-icon"><img style="height: 50px;" src="https://static.joonsite.com/media/domains_ext.svg"
              alt="domain extensions"></div>
          <div class="mpp-feature-desc">300+ domain extensions</div>
        </div>
        <div class="mpp-feature fade-left" style="opacity: 1; transform: translateY(0px);">
          <div class="mpp-feature-icon"><img style="height: 50px;" src="https://static.joonsite.com/media/24_7.svg"
              alt="customer support"></div>
          <div class="mpp-feature-desc">24/7 customer support</div>
        </div>
      </div>
      <div class="">
        <a href="javascript:void(0);" onclick="twik_pop('homepage_button');" class="main-hero-button">Buy Domain<svg
            class="i-left-margin" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 448 512">
            <path fill="#fff"
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
            </path>
          </svg></a>
      </div>
    </div>
    <div class="mpp-image">
      <img src="https://static.joonsite.com/media/domains.svg" alt="Buy Domains">
    </div>
  </div>
  <div class="wt-top">
    <h2 class="main-hero-heading wt-heading">
      Website Templates
    </h2>
    <div class="main-hero-subheading wt-subheading">
      90+ Website templates to meet your business needs.
    </div>
  </div>
 
  <div class="pricing-switch">
    <button
      class="switch-button"
      [class.active]="activeTab === 'website_templates'"
      (click)="selectTab('website_templates')"
    >
      Website <br> Templates
    </button>
    <button
      class="switch-button"
      [class.active]="activeTab === 'store_templates'"
      (click)="selectTab('store_templates')"
    >
      eCommerce <br> Templates
    </button>
  </div>
  
  <div class="wt-tabs-content">
    <!-- Website Templates Tab Content -->
    <div *ngIf="activeTab === 'website_templates'" class="wt-tab-content">
      <div class="wt-bottom">
        <div class="wt-templates">
          <!-- Template 1 for Website -->
          <div class="wt-template" *ngFor="let template of websiteTemplates">
            <div class="wt-template-inner">
              <div class="wt-top-bar"></div>
              <div class="wt-bottom-part">
                <div class="wt-image-outer">
                  <img [src]="template.image" class="wt-image" [alt]="template.name" />
                </div>
                <div class="wt-overlay">
                  <div class="wt-overlay-inner">
                    <div class="wt-template-name">{{ template.name }}</div>
                    <!-- <a class="wt-preview-icon" 
                    target="_blank" 
                    [href]="template.previewUrl" 
                    (click)="openTemplate(template.previewUrl, $event)">
                   <span>Preview</span>
                 </a> -->
                 <a class="wt-preview-icon" target="_blank" [href]="template.previewUrl">
                  <span>Preview</span>
                </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wt-button-outer">
          <a href="" class="main-hero-button">See all templates
            <svg class="i-left-margin" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 448 512">
              <path fill="#fff"
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  
    <!-- eCommerce Templates Tab Content -->
    <div *ngIf="activeTab === 'store_templates'" class="wt-tab-content">
      <div class="wt-bottom">
        <div class="wt-templates">
          <!-- Template 1 for Store -->
          <div class="wt-template" *ngFor="let template of storeTemplates">
            <div class="wt-template-inner">
              <div class="wt-top-bar"></div>
              <div class="wt-bottom-part">
                <div class="wt-image-outer">
                  <img [src]="template.image" class="wt-image" [alt]="template.name" />
                </div>
                <div class="wt-overlay">
                  <div class="wt-overlay-inner">
                    <div class="wt-template-name">{{ template.name }}</div>
                    <a class="wt-preview-icon" target="_blank" [href]="template.previewUrl">
                      <span>Preview</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="see-width">
    <div class="see-full">
      <h2 class="main-hero-heading" style="margin-left: 150px;">Frequently Asked Questions</h2>
      <div class="main-hero-subheading" style="margin-left: 180px;">FAQ regarding creating a website at JoonWeb Website
        builder.</div>
      <div class="accordion">
        <div class="tabs" *ngFor="let faq of faqs; let i = index">
          <div class="tab" [attr.id]="'tab-' + i">
            <div class="question-container">
              <label class="tab-label" for="rd{{i}}">
                <h3>{{ faq.question }}</h3>
              </label>
              <button class="toggle-btn" (click)="toggleAnswer(i)">
                <span class="circle-icon">{{ faq.showAnswer ? '-' : '+' }}</span>
              </button>
            </div>
            <div *ngIf="faq.showAnswer" class="answer-content">
              <span>{{ faq.answer }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-share style="display: flex; justify-content: center; align-items: center;"></app-share>

  <app-auth-popup #authPopup></app-auth-popup>