.header {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-list li {
    margin: 0;
  }
  
  .navbar-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .navbar-list a.active {
    font-weight: bold;
    color: #ff6347; /* You can change this color for active link */
  }
  
  .navbar-list a:hover {
    color: #ff6347;
  }
  