<header class="header">
    <div class="logo">
      <a routerLink="/" class="logo-text">FancyWebsite</a>
    </div>
    <nav class="navbar">
      <a routerLink="/webtemp2" routerLinkActive="active">Home</a>
      <a routerLink="/webtemp2/about" routerLinkActive="active">About</a>
      <a routerLink="/webtemp2/contact" routerLinkActive="active">Contact</a>
    </nav>
  </header>
  <!-- <header class="header">
    <div class="logo">
      <a routerLink="/" class="logo-text">FancyWebsite</a>
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <nav class="navbar" [class.open]="menuOpen">
      <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
      <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
      <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a>
    </nav>
  </header> -->
  